* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
body {

}
img {
  height:135px;
  width: 135px;
  margin-bottom: 50px;
}
.container {
  padding:5vh 10vw 10px 5vw;
  position: relative;
  text-align: center;
}
header {
  text-align: center;
  padding: 0 2% 0 4%;
}
.header-text {

}
.text {
  font-family: sans-serif;
  font-size: 20px;
}
.wiki-welcome {
  width: 100%;
  height: 7vh;
  margin-top: 6vh;
}
.right {
  float:right;
}
.image-container {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-holder {
  float:left;
  /*margin:2% 0 2% 7%;*/
  margin:12px auto 12px auto;
  text-align: center;
}
s
.left {
  /*margin:2%;*/
  margin-bottom:12px;
  /*height: 185px;*/
  /*width:165px;*/
}
footer {
  width: 83%;
  margin-bottom: 15px;
  border-top: 1px solid gray;
  text-align: center;
  bottom:0;
  position: absolute;
}
.small-font {
  font-size: 15px;
}
.term-container {
  margin-top: 1%;
}
.terms {
  margin:11px;
}
